body{
    background: #333;    
}
.box{
    background: #fff;
    width: 200px;
    height: 200px;
    position: relative;
    margin: auto;
    top: 200px;
/*   transition-property: background, border-radius, transform;*/
    transition: all;
   transition-duration: 3s;
   transition-timing-function: ease-out;
}
.box:hover{
    background: red;
    border-radius: 50%;
    transform: rotateY(150deg);
}